.modal-container {
    height: 100vh;
    width: 100%;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
}

.modal-ip {
    display: none;
}

.modal-shutdown {
    display: none;
}

.modal {
    width: 90%;
    max-width: 500px;
    height: auto;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    border-radius: 5px;
    border: 1px solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal .modal-header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
}

.modal .modal-header i {
    color: #201c1c;
    font-size: 18px;
}

.modal .modal-header i:hover {
    cursor: pointer;
}

.modal .modal-header h1 {
    color: #201c1c;
    font-weight: 600;
}

.modal .modal-body {
    padding: 15px;
}

.modal .modal-body label {
    color: #201c1c;
    font-size: 13px;
}